body {
    color: darkblue;
    margin: 0;
    padding: 0;
    font-family: Arial, 'sans-serif';
}

.sg-menu-wrapper {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #212121;
    color: #fff;
}

.sg-menu__title {
    padding: 10px;
}

.sg-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.sg-menu__link {
    display: block;
    color: #fff;
    padding: 16px 10px;
    text-decoration: none;
    border-bottom: 1px solid #121212;
}

.sg-menu__list__item:first-child .sg-menu__link {
    border-top: 1px solid #121212;
}

.sg-modules-list {
    margin-left: 300px;
    padding: 30px;
}

.sgm {
    padding: 30px 0;
    border-top: 1px solid #eee;
}

.sgm:last-child {
    border-bottom: 1px solid #eee;
}